.host-van-single {
  display: grid;
  gap: 16px;
  align-items: center;
  background-color: #f0f2bd;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
  height: 230px;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.host-van-single:hover {
  background-color: #e8ebb0;
  cursor: pointer;
}

.host-van-single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-van-single > img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}

.host-dashboard-earnings {
  background-color: #7c9b62;
  padding: 37px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-earnings > .info > h1 {
  font-size: 36px;
  color: #4b352a;
  margin: 0;
}

.host-dashboard-earnings > .info > p {
  color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
  text-decoration: underline;
  font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
  margin: 0;
  font-size: 38px;
  color: #4b352a;
  font-weight: 900;
}

.host-dashboard-reviews {
  background-color: #f0f2bd;
  padding: 25px 26px;
  display: flex;
  align-items: center;
}

.host-dashboard-reviews > h2 {
  margin: 0;
}

.host-dashboard-reviews .star {
  color: #ff8c38;
  margin-left: 15px;
  font-size: 25px;
}

.host-dashboard-reviews p {
  margin-left: 5px;
  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.host-dashboard-reviews p > span {
  font-weight: bold;
  color: #161616;
}

.host-dashboard-vans {
  padding: 38px 26px;
}

.host-dashboard-vans > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4b352a;
}

.host-dashboard-vans .host-vans-list {
  padding-inline: 0;
}

.host-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.host-reviews .review-star {
  color: #ff8c38;
  margin-right: 5px;
}

.host-vans-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding: 0;
}

.host-van-single {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0f2bd;
  margin-bottom: 0;
  padding: 18px 24px;
  margin-bottom: 10px;
  height: 243px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.host-van-single > img {
  height: 70px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 0;
}

.host-van-info {
  margin-bottom: 0.5rem;
}
