.host-van-link-wrapper {
  color: #4b352a;
  text-decoration: unset;
}

.host-vans-list {
  gap: 1rem;
  padding-inline: 0;
  column-count: 3;
  column-gap: 40px;
}

.host-vans-title {
  padding-inline: 26px;
  text-align: center;
  width: 100%;
  color: #4b352a;
}

.host-vans-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.host-van-single {
  display: grid;
  align-items: center;
  background-color: #f0f2bd;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
  height: 150px;
  width: 300px;
  border-radius: 6px;
}

.host-van-single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}
