.host-van-link-wrapper {
  color: #4b352a;
  text-decoration: unset;
}

.host-vans-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0;
}

.host-vans-title {
  padding-inline: 26px;
  text-align: center;
  width: 100%;
  color: #4b352a;
}

.host-vans-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.host-van-single {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0f2bd;
  padding: 18px 24px;
  margin-bottom: 10px;
  height: 243px;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease-in-out;
}

.host-van-single:hover {
  background-color: #e8ebb0;
  cursor: pointer;
}

.host-van-single > img {
  width: 100px;
  aspect-ratio: 10 / 7;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;

  .host-van-single > img:hover {
    transform: scale(1.05);
  }
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}
