.host-van-link-wrapper {
  color: #4b352a;
  text-decoration: unset;
}

.host-vans-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding: 0;
}

.host-vans-title {
  padding-inline: 26px;
  text-align: center;
  width: 100%;
  color: #4b352a;
}

.host-vans-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.host-van-single {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0f2bd;
  margin-bottom: 0;
  padding: 18px 24px;
  margin-bottom: 10px;
  height: 243px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.host-van-single > img {
  height: 70px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 0;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}
