.van-details-container {
  display: grid;
  padding: 24px;
  margin: 30px 26px;
  justify-items: center;
}

.van-details-container h1 {
  color: #4b352a;
}

.van-info img {
  height: 160px;
  border-radius: 5px;
  margin-right: 24px;
}

.van-card {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #edb087;
  border-radius: 4px;
  height: 500px;
  width: 800px;
  padding: 16px;
}

.van-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.van-text {
  color: #4b352a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.details-nav {
  margin-top: 15px;
  display: grid;
}

.back-button :hover {
  color: #f0f2bd;
}

/*   HOST VAN INFO  */

.host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #4b352a;
}

.host-van-detail-info > h4 > span {
  font-weight: 500;
}

/*HOST VAN PHOTOS*/

.host-van-detail-image {
  margin-top: 10px;
  height: 150px;
  border-radius: 5px;
}

/*HOST VAN PRICING*/

.host-van-price {
  margin-top: 10px;
  font-weight: 500;
}

.host-van-price > span {
  font-size: 16px;
  color: #4b352a;
}
