.main-content {
  display: grid;
  justify-content: center;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.not-found-container h1,
h3 {
  color: #4b352a;
}

.nf-return-button {
  background-color: #ca7842;
  height: 55px;
  width: 200px;
  color: #f0f2bd;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  padding: 15px;
}

.nf-return-button:hover {
  transform: translate(1px, 1px);
}
