.host-reviews {
  padding-inline: 26px;
  color: #4b352a;
}

.host-reviews .top-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}

.host-reviews .top-text > p {
  margin: 0;
  color: #4b352a;
}

.host-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-reviews > img {
  margin-bottom: 36px;
}

.host-reviews .review {
  margin-block: 25px;
  background-color: #f0f2bd;
  border-radius: 6px;
  padding: 10px;
}

.host-reviews .review .info {
  display: flex;
}

.host-reviews .review .name {
  color: #4b352a;
  margin-right: 10px;
  font-weight: 600;
}

.host-reviews .review .date {
  color: #777575;
}

.host-reviews hr {
  background-color: #f0f2bd;
  height: 1px;
  border: 0;
}

.review-star {
  color: #ff8c38;
  margin-right: 4px;
  width: 1em;
  height: 1em;
}
