/*** VAN PAGES ***/
.van-list-container {
  padding-inline: 23px;
  background-color: #b2cd9c;
  margin-bottom: 20px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-list-container h1 {
  color: #4b352a;
}

.van-list-filter-buttons {
  display: flex;
  gap: 5px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile a {
  color: #4b352a;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.van-info > p {
  margin-left: 20px;
  font-size: 1.17em;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #889c78;
  color: #4b352a;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #a05e20;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #ffead0;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #81216d;
  color: antiquewhite;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #2d857f;
  color: antiquewhite;
}

.van-type.clear-filters {
  height: 34px;
  padding: 6px 26px;
  text-decoration: underline;
  background-color: #889c78;
  color: #4b352a;
}

.van-type.clear-filters:hover,
.van-type.clear-filters.selected {
  background-color: #a05e20;
  color: antiquewhite;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}
